config.txt
test_csv.csv
# Import the libraries.txt
NTL_Special_Batch_Collection_Mint_20240220.csv
test_csv.csv
__pycache__/**
*.log
NEW_ALL_DOIS_20240624_20240701_20240701 (003).log
unit test input.json
unit test input.log
whocares.json
config - version1.txt
config - version2.txt
input_dois_doi_results.csv
input_dois.csv
input_dois.json
orcid_id_logo.PNG
unit test input.csv
unit test input.json
unit test output match.json 
STS_Records_Batch_Update_New_Series_Only_20240909.csv
unit test input.csv
unit test input.json
unit test input.log
unit test output match.json
STS_Records_Batch_Update_New_Series_Only_20241011.csv
Reserve_ATCRs_1970s_doi_results.csv
Reserve_ATCRs_1970s.csv
Reserve_ATCRs_1970s.json
2-1000.csv
~$main sheet.xlsx
