config.txt
test_csv.csv
# Import the libraries.txt
NTL_Special_Batch_Collection_Mint_20240220.csv
test_csv.csv
__pycache__/**
*.log
NEW_ALL_DOIS_20240624_20240701_20240701 (003).log
unit test input.json
unit test input.log
whocares.json
config - version1.txt
config - version2.txt
input_dois_doi_results.csv
input_dois.csv
input_dois.json
orcid_id_logo.PNG
unit test input.csv
unit test input.json
unit test output match.json 
STS_Records_Batch_Update_New_Series_Only_20240909.csv
unit test input.csv
unit test input.json
unit test input.log
unit test output match.json
STS_Records_Batch_Update_New_Series_Only_20241011.csv
Reserve_ATCRs_1970s_doi_results.csv
Reserve_ATCRs_1970s.csv
Reserve_ATCRs_1970s.json
2-1000.csv
~$main sheet.xlsx
Metadata Export 2025-03-09/DOI_Metadata_Report.xlsx
Tests/personal_publisher_test_doi_results.csv
.gitignore
Tests/personal_publisher_test.csv
Tests/personal_publisher_test.json
Tests/personal_publisher_test2_doi_results.csv
Tests/personal_publisher_test2.csv
Tests/personal_publisher_test2.json
Tests/toc test_doi_results.csv
Tests/toc test.csv
Tests/toc test.json
Tests/tris oclc test_doi_results.csv
Tests/tris oclc test.csv
Tests/tris oclc test.json
main sheet.xlsx
source toc test.csv
unit test input.csv
source toc test.json
source toc test_doi_results.csv
unit test input.csv
unit test input.json
unit test output match.json
Slater_2000-2001_metadata_to_upload_REV_DOI_Reserve_20250325_doi_results.csv
Slater_2000-2001_metadata_to_upload_REV_DOI_Reserve_20250325.json
Slater_2000-2001_metadata_to_upload_REV_DOI_Reserve_20250325.csv
Weekly_Updates_NEW_DOIs_20250324_20250317_20250325_doi_results.csv
Weekly_Updates_NEW_DOIs_20250324_20250317_20250325.json
Weekly_Updates_NEW_DOIs_20250324_20250317_20250325.csv
Entire Collection DOI Updates 202503/2-500_doi_results.csv
Entire Collection DOI Updates 202503/2-500.csv
Entire Collection DOI Updates 202503/2-500.json
Entire Collection DOI Updates 202503/403_errors.json
Entire Collection DOI Updates 202503/501-1000_doi_results.csv
Entire Collection DOI Updates 202503/501-1000.csv
Entire Collection DOI Updates 202503/501-1000.json
Entire Collection DOI Updates 202503/1001-8000_doi_results.csv
Entire Collection DOI Updates 202503/1001-8000.csv
Entire Collection DOI Updates 202503/1001-8000.json
Entire Collection DOI Updates 202503/8001-13000_doi_results.csv
Entire Collection DOI Updates 202503/8001-13000.csv
Entire Collection DOI Updates 202503/8001-13000.json
Entire Collection DOI Updates 202503/13001-16000_doi_results.csv
Entire Collection DOI Updates 202503/13001-16000.csv
Entire Collection DOI Updates 202503/13001-16000.json
Entire Collection DOI Updates 202503/16001-18000_doi_results.csv
Entire Collection DOI Updates 202503/16001-18000.csv
Entire Collection DOI Updates 202503/16001-18000.json
Entire Collection DOI Updates 202503/18001-21090_doi_results.csv
Entire Collection DOI Updates 202503/18001-21090.csv
Entire Collection DOI Updates 202503/18001-21090.json
Entire Collection DOI Updates 202503/Special Cases_doi_results.csv
Entire Collection DOI Updates 202503/Special Cases.csv
Entire Collection DOI Updates 202503/Special Cases.json
Organizations Script/confirmed_organizations - Copy 1248.csv
Organizations Script/confirmed_organizations - Copy 1453.csv
Organizations Script/confirmed_organizations - Copy 1548.csv
Organizations Script/confirmed_organizations - Copy Final Version 1856.csv
Organizations Script/confirmed_organizations.csv
Organizations Script/input.xlsx
Organizations Script/organizations_script.py
confirmed_match_a.csv
confirmed_match_b.csv
confirmed_match_a.csv
confirmed_match_a.csv
progress_notes.txt
confirmed_match_a.csv
Metadata Export 2025-03-09/~$DOI_Metadata_Report.xlsx
DOI_Update_NEW_Partners _to_ROSAP_Special Ingest_20250403_doi_results.csv
DOI_Updates_NEW_ALL_Partners_to_ROSAP_20250401_to_20250402_Special_Newsletters_1154.json
DOI_Updates_NEW_ALL_Partners_to_ROSAP_20250401_to_20250402_Special_Newsletters_1154.csv
DOI_Updates_NEW_ALL_Partners_to_ROSAP_20250401_to_20250402_Special_Newsletters_1154_doi_results.csv
DOI_Update_NEW_Partners _to_ROSAP_Special Ingest_20250403.json
DOI_Update_NEW_Partners _to_ROSAP_Special Ingest_20250403.csv
1021949_1403286.json
403_errors.json
403_errors_csv.json
403_errors_csv.csv
403_errors_csv_doi_results.csv
*.csv
*.json
~$Funder_Contract_Info.xlsx
.vscode/settings.json
.vscode/settings.json
